#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
GenericName=GNotifier
Name=GNotifier
Comment=Unofficial GMail Notifier
Exec=gnotifier
Icon=gnotifier
Terminal=false
Categories=Network;WebBrowser;
X-KDE-StartupNotify=false
